<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>20-50最佳（默认为30）</string>
	<string>（默认为30）</string>
	<string>1-5（默认为2）</string>
	<string>1-5（默认为2）</string>
</array>
</plist>
