<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>5198</integer>
	<integer>2581</integer>
	<integer>5534</integer>
	<integer>4883</integer>
	<integer>4541</integer>
	<integer>7496</integer>
	<integer>3997</integer>
	<integer>4847</integer>
	<integer>2097</integer>
	<integer>937</integer>
</array>
</plist>
